<app-nav-bar></app-nav-bar>
<main class="main" style="transform: none;">
    <div class="page-header mt-30 mb-50">
        <div class="container">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-3">
                        <h1 class="mb-15">Products</h1>
                        <div class="breadcrumb">
                            <a  rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                            <span></span> Shop <span></span> Snack
                        </div>
                    </div>

                    <div class="col-xl-6 text-end d-none d-xl-block">
                        <input  type="text" placeholder="Search for items..." [(ngModel)]="searchInput" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onSearchChange()">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-15">
        <!-- <a href="#" class=".btn-default">Export</a>
        <a href="#" class=".btn-default">Import</a> -->
        <!-- <a href="#" class="btn btn-primary btn-sm rounded">Create new</a> -->
        <button type="button"class="btn btn-light rounded font-md" (click)="open(mymodal1)">Create new</button>
        <button type="button"class="btn btn-light rounded font-md" (click)="addBatch(products)">Import</button>
    </div>
    <!-- add product popo up -->
    <ng-template #mymodal1 let-modal1>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title" >Add new Product</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
                <span aria-hidden="true" (click)="cancel()">×</span>
            </button>

        </div>
        <div class="card mb-4">
        <form>


                <div class="card-body">
                    <div class="mb-4">
                        <label for="product_title" class="form-label" style="color:black;">Product Name</label>
                       
                        <input type="text" placeholder="Type here"  class="form-control" [(ngModel)]="products.nameProd"
                        [ngModelOptions]="{standalone : true}" required>
                    </div>
                    <div class="mb-4">
                       
                        <label for="product_color" class="form-label" style="color:black;">Bar Code</label>
                        <input type="text" placeholder="Type here"   class="form-control" [(ngModel)]="products.barCode"
                        [ngModelOptions]="{standalone : true}" required pattern="619.*" id="bar" placeholder="Bar Code should start with 619">
                    </div>
                   
                   
                        <div class="mb-4">
                            <label for="product_sku" class="form-label" style="color:black;">Price</label>
                            <input type="number" placeholder="Type here"  class="form-control" [(ngModel)]="products.unit_price_htva"
                            [ngModelOptions]="{standalone : true}" required>
                        </div>
                        <!-- <div class="col-md-4 mb-3">
                            <label for="product_title" class="form-label" style="color:black;">Added Date</label>
                            <input type="date" placeholder="Type here"  class="form-control" [(ngModel)]="products.add_date"
                            [ngModelOptions]="{standalone : true}" required>
                           
                           <abbr title="Ce champ est obligatoire">*</abbr>
                        </div> -->
                      
                        
                        
                        <!-- <div class="col-md-4 mb-3">
                            <label for="product_size" class="form-label" style="color:black;">TVA</label>
                            <input type="number" placeholder="Type here"  class="form-control"  [(ngModel)]="products.tva"
                            [ngModelOptions]="{standalone : true}" required>
                        </div> -->
                    
<!--
                    <select *ngFor="let c of listPc">
                        <option value="">{{c.name_CategoryProd}}</option>
                    </select> -->
                    <!-- <div class="mb-4">
                        <label for="product_brand" class="form-label">Category</label>
                        <input type="text" placeholder="Type here"   class="form-control" [(ngModel)]="products.productCategory"
                        [ngModelOptions]="{standalone : true}">
                    </div> -->
                    <!-- select category -->
               
<mat-form-field appearance="fill">
  <mat-label class="selectFormControl" style="color:black;">Category</mat-label>
  <select [(ngModel)]="products.idCategoryProd"   [ngModelOptions]="{standalone : true}"  ng-change="switchLanguage" required>
    <option label="--select something --"></option>
    
    <option *ngFor="let productCategory of listPc" value="{{productCategory.idCategoryProd}}" id="idcat" class="selectFormControl" >
        {{productCategory.name_CategoryProd}}
    </option>
    </select>
  
  <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose a category</mat-error>
  <mat-hint>{{animalControl.value?.sound}}</mat-hint>  -->
</mat-form-field>
<script>
    $scope.switchLanguage = function()
{
   var seletedValue = products.idCategoryProd;
}
</script>


  
                    <!-- end select category -->


                </div>

            <br>
            <button type="submit"   class="btn btn-success" (click)="addProduct(products,products.idCategoryProd)" (click)="modal1.close('Save click')">Add</button>
            <button type="button" class="btn btn-info" (click)="modal1.close('Save click')" >Cancel</button>
        </form>
    </div>
    </ng-template>
    <!-- end add product popo up -->

    <div class="container mb-30" style="transform: none;">

        <div class="row" style="transform: none;">
            <div class="col-lg-4-5">
                <div class="shop-product-fillter">
                    <div class="totall-product">
                        <!-- <p>We found <strong class="text-brand">listSizep</strong> items for you!</p> -->
                    </div>
                    <div class="sort-by-product-area">
                        <div class="sort-by-cover mr-10">
                            <div class="sort-by-product-wrap">
                                <!-- <div class="sort-by">
                                    <span><i class="fi-rs-apps"></i>Show:</span>
                                </div>
                                <div class="sort-by-dropdown-wrap">
                                    <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                </div> -->
                            </div>
                            <!-- <div class="sort-by-dropdown">
                                <ul>
                                    <li><a class="active">50</a></li>
                                    <li><a href="#">100</a></li>
                                    <li><a href="#">150</a></li>
                                    <li><a href="#">200</a></li>
                                    <li><a href="#">All</a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="sort-by-cover">
                            <div class="sort-by-product-wrap">
                                <!-- <div class="sort-by">
                                    <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                </div> -->
                                <!-- <div class="sort-by-dropdown-wrap">
                                    <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                </div> -->
                            </div>
                            <!-- <div class="sort-by-dropdown">
                                <ul>
                                    <li><a class="active" >Featured</a></li>
                                    <li><a href="#">Price: Low to High</a></li>
                                    <li><a href="#">Price: High to Low</a></li>
                                    <li><a href="#">Release Date</a></li>
                                    <li><a href="#">Avg. Rating</a></li>
                                </ul>
                            </div> -->
                        </div>
                    </div>

                </div>



                <div class="row product-grid" >
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6" *ngFor="let p of listProducts| paginate: { itemsPerPage: 10, currentPage: cp }" >
                        <div class="product-cart-wrap mb-30">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a >
                                        <img class="default-img" src="assets/imgs/shop/nectar.webp" alt="">
                                        <img class="hover-img" src="assets/imgs/shop/product-1-2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Delete" class="action-btn" (click)="deleteProduct(p.idProd)"><i class="fi-rs-trash"></i></a>
                                    <a aria-label="Edit" class="action-btn" (click)="open(mymodal)"><i class="fi-rs-edit"></i></a>
                                    <a aria-label="Quick view" class="action-btn" (click)="open(mymodal2)" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                </div>
                                <!-- edit modal -->
                                <ng-template #mymodal let-modal>
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="modal-basic-title">Edit</h4>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true" (click)="cancel()">×</span>

                                        </button>

                                    </div>
                                    <div>
                                    <form>
                                        <div class="modal-body">

                                            <div class="row" class="mb-4">
                                                <label>Product Name</label>
                                                <input type="text" [(ngModel)]="p.nameProd"   class="form-control" [ngModelOptions]="{standalone : true}" />
                                            </div>
                                            <div class="row" class="mb-4">
                                                <label>Unit Price HTVA</label>
                                                <input type="number" [(ngModel)]="p.unit_price_htva"  class="form-control" [ngModelOptions]="{standalone : true}" />
                                            </div>
                                            <div class="row" class="mb-4">
                                                <label>Bar Code</label>
                                                <input type="text" [(ngModel)]="p.barCode"  class="form-control" [ngModelOptions]="{standalone : true}" />
                                            </div>
                                            <div class="row" class="mb-4">
                                                <label>Tva</label>
                                                <input type="number" [(ngModel)]="p.tva"  class="form-control" [ngModelOptions]="{standalone : true}" />
                                            </div>
                                            <div class="row" class="mb-4">
                                                <label>{{p.idCategoryProd}}</label>
                                                <mat-form-field appearance="fill">
                                                    <mat-label class="selectFormControl" style="color:black;">Category</mat-label>
                                                    <select [(ngModel)]="products.idCategoryProd"   [ngModelOptions]="{standalone : true}" required>
                                                      <option label="--select something --"></option>
                                                      
                                                      <option *ngFor="let productCategory of listPc" value="{{productCategory.idCategoryProd}}" id="idcat" class="selectFormControl" >
                                                          {{productCategory.name_CategoryProd}}
                                                      </option>
                                                      </select>
                                                    
                                                    <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose a category</mat-error>
                                                    <mat-hint>{{animalControl.value?.sound}}</mat-hint>  -->
                                                  </mat-form-field>
                                                <!-- <input type="number" [(ngModel)]="p.productCategory"  class="form-control" [ngModelOptions]="{standalone : true}" /> -->
                                            </div>

                                            
                                        </div>

                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-info"
                                                (click)="modal.close('Save click')" (click)="cancel()">Cancel</button>
                                            <button class="btn btn-success"(click)="editProduct(p)" (click)="modal.close('Save click')">Validate</button>
                                        </div>
                                    </form>
                                </div>
                                </ng-template>
                                <!-- fin edit modal -->
                                <!-- details model -->
                                <ng-template #mymodal2 let-modal>
                                    <div class="modal-header">

                                        <button type="button"  style="color: green;" class="close-button" aria-label="Close"
                                            (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true" (click)="cancel()">×</span>

                                        </button>

                                    </div>
                                    <div class="detail-info pr-30 pl-30">
                                        <img class="default-img" src="assets/imgs/shop/nectar.webp" alt="" width="200" >
                                        
                                        <h2 class="title-detail">{{p.nameProd}}</h2>
                                        <div class="product-detail-rating">
                                            
                                                
                                                <span class="stock-status out-stock"> #{{p.barCode}}</span>
                                            
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <span class="current-price text-brand">{{p.unit_price_htva}}DT</span>
                                                
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="detail-extralink mb-50">
                                            <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div>
                                            <div class="product-extra-link2">
                                                <button type="submit" class="button button-add-to-cart"><i class="fi-rs-shopping-cart"></i>Add to cart</button>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                       <!-- start rating -->
                                       <!-- <head>
                                        <title>How To Create Feedback Form With Star Rating HTML</title>
                                        <meta charset="utf-8" />
                                        <meta name="viewport" content="width=device-width, initial-scale=1" />
                                        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
                                    </head>
                                    <body>
                                        <div class="star-rating">
                                            <div class="thanks-msg">Thanks for your feedback !!!</div>
                                            <div class="star-input">
                                                <input type="radio" name="rating" id="rating-5">
                                                <label for="rating-5" class="fas fa-star"></label>
                                                <input type="radio" name="rating" id="rating-4">
                                                <label for="rating-4" class="fas fa-star"></label>
                                                <input type="radio" name="rating" id="rating-3">
                                                <label for="rating-3" class="fas fa-star"></label>
                                                <input type="radio" name="rating" id="rating-2">
                                                <label for="rating-2" class="fas fa-star"></label>
                                                <input type="radio" name="rating" id="rating-1">
                                                <label for="rating-1" class="fas fa-star"></label> -->
                                
                                                <!-- Rating Submit Form -->
                                                <!-- <form>
                                                    <span class="rating-reaction"></span>
                                                    <button type="submit" class="submit-rating">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                        <script type="text/javascript" >
                                       
                                            const btn = document.querySelector(".submit-rating");
                                            const thanksmsg = document.querySelector(".thanks-msg");
                                            const starRating = document.querySelector(".star-input");
                                            // Success msg show/hide
                                            btn.onclick = () => {
                                            starRating.style.display = "none";
                                            thanksmsg.style.display = "table";
                                        
                                            return false;
                                            };
                                        
                                        </script>
                                    </body> -->
                                       <!-- end star  -->
                                       <!-- <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false" ></ngb-rating> -->
                                       
                                       <p>Rate our Product</p>

                                       <ngb-rating [(rate)]="currentRate" >
                                         <ng-template let-fill="fill" let-index="index">
                                           <span class="star" [class.filled]="fill === 100" (click)="rate()" [class.bad]="index < 3" >&#9733;</span>
                                         </ng-template>
                                       </ngb-rating>
                                       <hr>
                                       <pre>Rate: <b>{{currentRate}}</b></pre>

                                           <share-buttons [theme]="'material-dark'"
                                            [include]="['facebook','twitter','linkedin','pinterest','whatsapp','xing','line','sms','email','copy']"
                                            [show]="9"
                                             [size]="1"
                                                [url]="'http://localhost:4200/home/productF/{id}'"
                                                [image] ="'https://www.eduforbetterment.com/wp-content/uploads/2020/08/qrcode.jpg'"
                                                    [autoSetMeta]="false"
                                                        ></share-buttons> 






                                
                                </ng-template>
                                <!-- end details model -->

                            </div>
                            <div class="product-content-wrap"  >
                                <div class="product-category">
                                    <a>{{p.productCategory}}</a>
                                </div>
                                <h2><a>{{p.nameProd}}</a></h2>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> {{currentRate}}</span>
                                </div>

                                <div class="product-card-bottom">
                                    <div class="product-price">
                                        <span>{{p.unit_price_htva}}Dt</span>

                                    </div>
                                    <div class="add-cart">
                                        <a ><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end product card-->
                    <pagination-controls (pageChange)="cp = $event"></pagination-controls>



                </div>
                <!--product grid-->
                
               
                <!--End Deals-->
            </div>
            <div class="col-lg-1-5 primary-sidebar sticky-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

                <!-- Fillter By Price -->

                <!-- Product sidebar Widget -->


            <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 1178.71px;"><div class="sidebar-widget widget-category-2 mb-30">
              <div>
                <!-- add category -->
                <!-- add product popo up -->
                <ng-template #mymodal3 let-modal3>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title" >Add new Category</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal3.dismiss('Cross click')">
                            <span aria-hidden="true" (click)="cancel()">×</span>
                        </button>

                    </div>
                    <div class="card mb-4">
                    <form>


                            <div class="card-body">
                                <div class="mb-4">
                                    <label for="product_title" class="form-label">Category  Name</label>
                                    <input type="text" placeholder="Type here"  class="form-control" [(ngModel)]="productCategory.name_CategoryProd"
                                    [ngModelOptions]="{standalone : true}">
                                </div>
                                <div class="mb-4">

                                        <label for="product_sku" class="form-label">Description</label>
                                        <input type="text" placeholder="Type here"  class="form-control" [(ngModel)]="productCategory.desc_CategoryProd"
                                        [ngModelOptions]="{standalone : true}">

                                </div>
<!--
                                <select *ngFor="let c of listPc">
                                    <option value="">{{c.name_CategoryProd}}</option>
                                </select> -->

                            </div>

                        <br>
                        <button type="button" class="btn btn-success" (click)="addPc(productCategory)" (click)="modal3.close('Save click')">Add</button>
                        <button type="button" class="btn btn-info" (click)="modal3.close('Save click')" >Cancel</button>
                    </form>
                </div>
                </ng-template>
                <!-- fin category add  -->
                <!-- list category -->
                <a aria-label="Add Category" class="action-btn" (click)="open(mymodal3)"><i class="fi-rs-add"></i></a>
                <h5 class="section-title style-1 mb-30" >Categories</h5>
            </div>

            <div style="overflow:auto;   width: 250px;  height: 570px;">
                <ul *ngFor="let p of listPc">
                        <li>
                            <a (click)="getProductByCategorie(idCategoryProd)" > <img src="assets/imgs/theme/icons/category-1.svg" alt="">{{p.name_CategoryProd}}</a><a aria-label="Delete" class="action-btn" (click)="deletePc(p.idCategoryProd)"><i class="fi-rs-trash"></i></a><a aria-label="Edit" class="action-btn" (click)="open(mymodal4)"><i class="fi-rs-edit"></i></a>
                            <!-- edit category -->
                            
                            <!-- model of prod by cat -->
                            <!-- <ng-template #mymodal6 let-modal6 id="#mymodal6" >
                                <div class="row product-grid" >
                                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                                        <button (click)="getProductByCategorie(p.idCategoryProd)">test</button> 
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a >
                                                        <img class="default-img" src="assets/imgs/shop/nectar.webp" alt="">
                                                        <img class="hover-img" src="assets/imgs/shop/product-1-2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Delete" class="action-btn" (click)="deleteProduct(p.idProd)"><i class="fi-rs-trash"></i></a>
                                                    <a aria-label="Edit" class="action-btn" (click)="open(mymodal)"><i class="fi-rs-edit"></i></a>
                                                    <a aria-label="Quick view" class="action-btn" (click)="open(mymodal2)" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                                </div>
                </div>
                                            <div class="product-content-wrap"  >
                                                <div class="product-category">
                                                    <a>{{products.productCategory}}</a>
                                                </div>
                                                <h2><a>{{products.nameProd}}</a></h2>
                                                <div class="product-rate-cover">
                                                    <div class="product-rate d-inline-block">
                                                        <div class="product-rating" style="width: 90%"></div>
                                                    </div>
                                                    <span class="font-small ml-5 text-muted"> {{currentRate}}</span>
                                                </div>
                
                                                <div class="product-card-bottom">
                                                    <div class="product-price">
                                                        <span>{{products.unit_price_htva}}Dt</span>
                
                                                    </div>
                                                    <div class="add-cart">
                                                        <a ><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                            </ng-template> -->
                            <!-- endmodel of prod by cat -->
                <ng-template #mymodal4 let-modal4>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Edit</h4>
                        <button type="button" class="close" aria-label="Close"
                            (click)="modal4.dismiss('Cross click')">
                            <span aria-hidden="true" (click)="cancel()">×</span>

                        </button>

                    </div>
                    <div>
                    <form>
                        <div class="modal-body">

                            <div class="row" class="col-md-5">
                                <label>Name</label>
                                <input type="text" [(ngModel)]="p.name_CategoryProd" [ngModelOptions]="{standalone : true}" class="form-control" />
                            </div>
                            <div class="row" class="col-md-5">
                                <label>Description</label>
                                <input type="text" [(ngModel)]="p.desc_CategoryProd" [ngModelOptions]="{standalone : true}" class="form-control" />
                            </div>

                        </div>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-info"
                                (click)="modal4.close('Save click')" (click)="cancel()">Cancel</button>
                            <button class="btn btn-success"(click)="editPc(productCategory)" (click)="modal4.close('Save click')">Validate</button>
                        </div>
                    </form>
                </div>
                </ng-template>
                <!-- end edit category -->

                        </li>

                    </ul>
                </div>

                </div>
                </div>
                </div>
        </div>
    </div>
    <!-- recently added -->
    <section class="product-tabs section-padding position-relative">
        <div class="section-title style-2" >
           
            <h1>Discover our new Products</h1>
          
            
        </div>
        
        <!--End nav-tabs-->
        <!--list of products-->
        <div class="tab-content" id="myTabContent" >
            <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                           
                    <div class="row product-grid-4" >
                        <!-- <ng-container *ngIf='products.add_date >curDate '> -->

                            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6" *ngFor='let p of listRecentProducts'>
                               
                                

                        <div class="product-cart-wrap mb-30" >
                            
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a>
                                        
                                        <img class="default-img" src="assets/imgs/shop/nectar.webp" alt="">
                                        
                                    </a>
                                </div>
                                <!-- <div class="product-action-1">
                                    <a aria-label="Add To Wishlist" class="action-btn" ><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Compare" class="action-btn" ><i class="fi-rs-shuffle"></i></a>
                                    <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                </div> -->
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">New</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <div class="product-category">
                                    <a >{{p.productCategory}}</a>
                                </div>
                                <h2><a >{{p.nameProd}}</a></h2>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                               
                                <div class="product-card-bottom">
                                    <div class="product-price">
                                        <span>{{p.unit_price_htva}} Dt</span>
                                        
                                    </div>
                                    <div class="add-cart">
                                        <a class="add" ><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                    </div>
                                </div>
                            
                           
                        </div>
                        </div>
                            </div>
                        <!-- </ng-container> -->
                    </div>
            </div>
        </div>
        
                       
                    
                    
                    <!--end product card-->
                
                
                <!--End product-grid-4-->
           
            <!--En tab seven-->
        
        <!--End tab-content-->
    </section>
    <!-- end recently added -->

</main>
<app-footer></app-footer>